.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: #57a773ff;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.userlogo {
  height: 40px;
  width: 40px;
}

.side-bar {
  background-color: #efe9f4ff;
}

.main-bar {
  background-color: white;
}

.table-hover {
  cursor: pointer;
}

.userimg {
  width: 20px;
  height: 20px;
}

.my-btn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  padding: 10px;
  z-index: 1;
}



